.header{
    display: flex;
    align-items: center;
}

.header span a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
} 

.header span a img.logo{
    max-height: 32px;
}
.header span a.title-group i {
    padding: 32px;
}