.header{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.header span a {
    display: flex;
    align-items: center;
    text-decoration: none;
} 

.header span a img.logo{
    max-height: 32px;
}
.header span a.title-group i {
    padding: 32px;
}